In [2]:
# 1.DataFrame Creation and Basic Operation

import pandas as pd
data = {
    'Employee': ['John', 'Alex', 'Riya', 'Steve'],
    'Department': ['HR', 'HR', 'Finance', 'Finance'],
    'Salary': [60000, 50000, 70000, 70000],
    'Age': [30, 25, 28, 32]
}
df = pd.DataFrame(data)

# a) Display the first two rows
print("First two rows:")
print(df.head(2))

# b) Add a new column 'Experience' with values [5, 3, 7, 8]
df['Experience'] = [5, 3, 7, 8]
print("\nDataFrame with Experience column:")
print(df)

# c) Find the average salary
average_salary = df['Salary'].mean()
print("\nAverage Salary of all employees:", average_salary)

First two rows:
  Employee Department  Salary  Age
0     John         HR   60000   30
1     Alex         HR   50000   25

DataFrame with Experience column:
  Employee Department  Salary  Age  Experience
0     John         HR   60000   30           5
1     Alex         HR   50000   25           3
2     Riya    Finance   70000   28           7
3    Steve    Finance   70000   32           8

Average Salary of all employees: 62500.0

In [4]:
# b)Dataset of students(3 subjects)

# Creating a dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math': [85, 78, 90, 65],
    'Science': [88, 82, 75, 70],
    'English': [80, 70, 88, 60]
}
students_df = pd.DataFrame(data)

# 1) Display all students who scored more than 80 in Math
print("\nStudents with Math > 80:")
print(students_df[students_df['Math'] > 80])

# 2) Sort the DataFrame in descending order based on Science scores
sorted_df = students_df.sort_values(by='Science', ascending=False)
print("\nStudents sorted by Science score (descending):")
print(sorted_df)

# 3) Find the student with the highest English score
top_english_student = students_df.loc[students_df['English'].idxmax()]
print("\nStudent with highest English score:")
print(top_english_student)

Students with Math > 80:
      Name  Math  Science  English
0    Alice    85       88       80
2  Charlie    90       75       88

Students sorted by Science score (descending):
      Name  Math  Science  English
0    Alice    85       88       80
1      Bob    78       82       70
2  Charlie    90       75       88
3    David    65       70       60

Student with highest English score:
Name       Charlie
Math            90
Science         75
English         88
Name: 2, dtype: object

In [8]:
#Lab2 


categories = ['Groceries', 'Utilities', 'Rent', 'Transportation', 'Entertainment']
expenses = [500, 200, 1200, 300, 150]
expense_series = pd.Series(expenses, index=categories)
print("\nMonthly Expenses:")
print(expense_series)

Monthly Expenses:
Groceries          500
Utilities          200
Rent              1200
Transportation     300
Entertainment      150
dtype: int64

In [10]:
# Lab3

# Months of the year
months = ['January', 'February', 'March', 'April', 'May', 'June',
          'July', 'August', 'September', 'October', 'November', 'December']
electricity_usage = [310, 320, 310, 330, 340, 370, 380, 360, 350, 360, 320, 330]
gas_usage = [20, 18, 16, 15, 12, 10, 8, 8, 12, 15, 17, 19]
electricity_series = pd.Series(electricity_usage, index=months)
gas_series = pd.Series(gas_usage, index=months)
print("\nElectricity Usage (kWh):")
print(electricity_series)
print("\nGas Usage (therms):")
print(gas_series)

Electricity Usage (kWh):
January      310
February     320
March        310
April        330
May          340
June         370
July         380
August       360
September    350
October      360
November     320
December     330
dtype: int64

Gas Usage (therms):
January      20
February     18
March        16
April        15
May          12
June         10
July          8
August        8
September    12
October      15
November     17
December     19
dtype: int64

In [12]:
#Lab4

# Revenue data
revenue = [5000, 5200, 4800, 5400, 5600, 5800, 6100, 6200, 6500, 6900, 7000, 6900]
revenue_series = pd.Series(revenue, index=months)
print("\nMonthly Website Revenue (USD):")
print(revenue_series)

Monthly Website Revenue (USD):
January      5000
February     5200
March        4800
April        5400
May          5600
June         5800
July         6100
August       6200
September    6500
October      6900
November     7000
December     6900
dtype: int64