In [1]:
#1. Convert below list into numpy array

import numpy as np
my_list = [1, 2, 3, 4, 5]
arr = np.array(my_list)
print("First element:", arr[0])
print("Last element:", arr[-1])
doubled_arr = arr * 2
print("\nArray after doubling each element:")
print(doubled_arr)

First element: 1
Last element: 5

Array after doubling each element:
[ 2  4  6  8 10]

In [3]:
#2.You have a list of exam scores. Find the highest and lowest score.

exam_scores = [78, 85, 92, 88, 76, 95, 89]
highest_score = max(exam_scores)
lowest_score = min(exam_scores)
print("Highest score:", highest_score)
print("Lowest score:", lowest_score)

Highest score: 95
Lowest score: 76

In [5]:
# 3.You have monthly expenses. Calculate the total yearly expense.

monthly_expenses = [1200, 1100, 1150, 1300, 1250, 1400, 1350, 1500, 1450, 1600, 1550, 1700]
yearly_expense = sum(monthly_expenses)
print("Total yearly expense:", yearly_expense)

Total yearly expense: 16550

In [7]:
#4.Generate even numbers between 10 and 50.

import numpy as np
even_numbers = np.arange(10, 51, 2)
print("Even numbers between 10 and 50:")
print(even_numbers)

Even numbers between 10 and 50:
[10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50]